.wrapper {
  display: flex;
}

.input {
  padding: 1rem 1.5rem;
  border: none;
  width: 100%;
}

.inputwrapper {
  background-color: #fff;
  flex: 1;
}

.button {
  border: none;
  background-color: transparent;
  padding: 8px;
  min-width:32px;
}