.input {
  display: flex;

  &__field {
    flex: 1;
    background-color: #fff;
  }

  &__control {
    width: 100%;
    border: none;
    padding: 1rem 1.5rem;
  }

  &__suffix {
  }

  &__button {
    border: none;
    background-color: transparent;
    padding: 0.5rem;
    min-width: 2rem;
  }
}
