.pullBar {
  display: flex;
  gap: 18px;
  width: 100%;
  color: var(--color-primary);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 0;
}

.input{
  width: 50%;
}