@use "../../../common/layout" as l;

$commonBorder: 1px solid var(--color-secondary-300);

.data-grid {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow-x: scroll;
  font-size: 14px;

  &__header {
    display: grid;
    border-bottom: $commonBorder;

    @include l.device(mobile) {
      border-bottom: transparent;
    }

    &--vertical {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &-cell {
      padding: 8px 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--color-secondary-200);
      font-size: var(--font-size-xs);
      font-weight: 500;
      cursor: pointer;

      @include l.device(mobile) {
        color: var(--color-primary-500);
        font-size: var(--font-size-md);
      }
    }
  }

  &__rows {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: grid;
    border-bottom: $commonBorder;
    color: var(--color-primary-500);
    font-weight: 600;
    font-size: var(--font-size-sm);
  }

  &__cell {
    padding: 16px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__row--skeleton {
    pointer-events: none;
    border: 0;

    .data-grid__cell {
      margin: 20px;
      border-radius: 4px;
      background: linear-gradient(
                      90deg,
                      var(--color-neutral-100) 25%,
                      var(--color-neutral-200) 37%,
                      var(--color-neutral-100) 63%
      );
      background-size: 400% 100%;
      animation: skeleton-loading 10s linear infinite;
      min-height: 32px;
      color: transparent;
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: -400% 0;
  }
  100% {
    background-position: 400% 0;
  }
}
