.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  &__heading {
    font-size: var(--font-size-5xl);
  }

  &__link {
    text-decoration: none;
    color: #fff;
    background-color: var(--color-primary-500);
    font-size: var(--font-size-lg);
    font-weight: 500;
    padding: 1rem 3rem;
    cursor: pointer;
    border: none;
  }
}